/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  --background-color-light: #495057;
  --background-color-medium: #343a40;
  --background-color-dark: #212529;

  --font-color: #f8f9fa;
  --input-border-color: #a0a0a0;
  --button-color: #683fe5;
  --button-hover-color: #7259be;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.signInContainer {
  background-color: var(--background-color-dark);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  background-color: var(--background-color-medium);
  min-height: 18.75rem;
  max-height: 100%;
  width: 28.125rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 1.25rem 2.2rem;
  overflow-y: auto;
  border-radius: 5px;
}

.column form {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 0.875rem;
  margin: 0.625rem 0;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid var(--input-border-color);
  transition: all 0.2s ease-in-out;
}

.column form input[type="text"]:focus,
.column form input[type="email"]:focus,
.column form input[type="password"]:focus {
  border-bottom: 2px solid #fff;
}

.column form input[type="submit"] {
  font-family: "Lato", sans-serif;
  background-color: var(--button-color);
  color: var(--font-color);
  height: 2.25rem;
  width: 5.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.column form input[type="submit"]:hover {
  background-color: var(--button-hover-color);
}

.column .header {
  padding: 1.25rem 0;
}

.column h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
  padding-top: 1rem;
  color: #fff;
}

.column .header span {
  font-size: 0.875rem;
}

.column .header img {
  width: 4rem;
}

.signInMessage {
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
}
